<!DOCTYPE html>
<html>


<body>
<h1>{{title}}</h1>
<ol id="questionList">
<ng-container *ngFor="let question of questions; index as i">
    <ol  *ngIf="i >= counter && i < counter + 5">
        {{questions[i].num + 1}}. {{ questions[i].text }}
        <br>
        <mat-radio-group
        class="radio-group"
        [(ngModel)] = "questions[i].chosenOption">
        <mat-radio-button class="radio" [value]=1 >Strongly Disagree</mat-radio-button><br>
        <mat-radio-button class="radio" [value]=2>Disagree</mat-radio-button><br>
        <mat-radio-button class="radio" [value]=3>Neutral</mat-radio-button><br>
        <mat-radio-button class="radio" [value]=4>Agree</mat-radio-button><br>
        <mat-radio-button class="radio" [value]=5>Strongly Agree</mat-radio-button><br>
        </mat-radio-group>
        <br><br>
    </ol>
</ng-container>
</ol>

<button mat-raised-button id="PrevButton" (click)="decrementCounter()" disabled>Previous Page</button>
<button mat-raised-button id="NextButton" (click)="incrementCounter()">Next Page</button>
<button mat-raised-button id="FinishButton" (click)="computeScores()">Finish</button>
<br>
<div id="ResultsSection" [hidden]="hidden">
    <p>test!</p>
    <ol id="score">
        <ol>

        </ol>
    </ol>
</div>
</body>
</html>